@import "~normalize-scss"

@import "partials/variables"
@import "partials/functions"
@import "partials/fonts"

@include normalize()

*
    box-sizing: border-box
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    outline: none !important

html, body, #wrapper
    height: 100%
    width: 100%
    overflow: hidden

html
    font-family: $font-family
    font-weight: $font-weight-normal
    font-style: normal
    font-size: $font-size-md
    //letter-spacing: 0.025em
    line-height: $font-line-height-base
    color: #FFFFFF
    outline: none !important
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    -webkit-focus-ring-color: rgba(0, 0, 0, 0)

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-text-stroke-width: .7px
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.1)

#wrapper
    padding: pixel-to-vw(60px)
    display: flex
    flex-direction: column

    > .inner
        flex: 1
        display: flex
        flex-direction: column
        pointer-events: none

        > .disconnected-message, > .blocks-override
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            padding-bottom: pixel-to-vw(240px)
            background-color: $color-grey-dark
            font-size: $font-size-lg
            align-items: center
            justify-content: center
            display: none
            user-select: auto
            pointer-events: auto !important

        > .blocks-override
            z-index: 98

        > .disconnected-message
            z-index: 99

        &.disconnected
            > .disconnected-message
                display: flex

        &.connected
            pointer-events: auto

            > .disconnected-message
                display: none

        &.blocks-override
            .blocks-override
                display: flex
                pointer-events: auto


        > .tabs
            //flex: 1 0 auto
            flex: .85 0 auto
            display: flex
            flex-direction: column

            > .buttons
                height: pixel-to-vw(120px)
                display: flex

                > .button
                    width: 50%
                    display: flex
                    align-items: center
                    justify-content: center
                    text-align: center
                    cursor: pointer
                    border-bottom: pixel-to-vw(4px) solid $color-grey-dark
                    transition: border-bottom 200ms ease-out

                    &.active
                        border-bottom: pixel-to-vw(4px) solid rgb(251, 188, 21)

            > .content
                position: relative
                flex: 1 0 auto
                background-color: $color-grey

                > .list
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    padding-bottom: pixel-to-vw(120px)
                    opacity: 0
                    overflow-x: hidden
                    overflow-y: auto
                    pointer-events: none
                    transition: opacity 200ms ease-out

                    &.visible
                        opacity: 1
                        pointer-events: auto

                    > .list-item
                        display: flex
                        align-items: center
                        padding: 0 pixel-to-vw(30px)
                        height: pixel-to-vw(120px)
                        background-color: transparent
                        border-bottom: pixel-to-vw(2px) solid $color-grey-dark
                        cursor: pointer
                        transition: background-color 200ms ease-out

                        &.selected
                            background-color: $color-grey-light

                > .reload-button
                    position: absolute
                    z-index: 2
                    bottom: pixel-to-vw(30px)
                    right: pixel-to-vw(30px)
                    cursor: pointer

                    &, svg
                        height: pixel-to-vw(60px)
                        width: pixel-to-vw(60px)

                    svg
                        path
                            fill: $color-yellow

                    &.loading
                        animation: rotate 1000ms infinite ease-out

        > .controls
            position: relative
            margin-top: pixel-to-vw(60px)
            flex: .15 0 auto
            padding: pixel-to-vw(60px) 0

            > .pane
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                opacity: 0
                pointer-events: none
                transition: opacity 200ms ease-out

                > .row
                    position: relative
                    display: inline-flex

                    > .control-button
                        position: relative
                        margin: 0 pixel-to-vw(30px)

                        > div, svg
                            height: pixel-to-vw(120px)
                            width: pixel-to-vw(120px)

                        svg
                            path
                                fill: $color-yellow

                &.movies
                    //margin-bottom: pixel-to-vw(60px)
                    //height: pixel-to-vw(240px)
                    > .row
                        > .play-pause
                            height: pixel-to-vw(120px)
                            width: pixel-to-vw(120px)
                            transform: translateY(pixel-to-vw(-90px))

                            > div
                                position: absolute
                                top: 0
                                left: 0
                                height: pixel-to-vw(120px)
                                width: pixel-to-vw(120px)
                                opacity: 0
                                transition: opacity 200ms ease-out

                                &.visible
                                    opacity: 1
                                    pointer-events: none

                        > .loop-button
                            position: absolute
                            left: 50%
                            bottom: pixel-to-vw(-90px)
                            margin: 0
                            transform: translateX(-50%)
                            //&, > svg
                            //    height: pixel-to-vw(60px)
                            //    width: pixel-to-vw(60px)

                &.visible
                    opacity: 0.5
                    pointer-events: none

                    &.enabled
                        opacity: 1
                        pointer-events: auto

                        > .row
                            > .control-button
                                cursor: pointer

@keyframes rotate
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(-360deg)
