@import "~normalize-scss"

@import "partials/variables"
@import "partials/functions"
@import "partials/fonts"


@include normalize()

*
    box-sizing: border-box
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    outline: none !important

html, body, #wrapper
    height: 100%
    width: 100%
    overflow: hidden

html
    font-family: $font-family
    font-weight: $font-weight-normal
    font-style: normal
    font-size: $font-size-md
    //letter-spacing: 0.025em
    line-height: $font-line-height-base
    color: #E8EDDF
    outline: none

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-text-stroke-width: .7px
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.1)

#wrapper
    padding: pixel-to-vw(60px)
    display: flex
    flex-direction: column

    > .inner
        flex: 1
        display: flex
        flex-direction: column
        pointer-events: none

        > .disconnected-message
            z-index: 10
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            padding-bottom: pixel-to-vw(240px)
            background-color: #242423
            color: #E8EDDF
            font-size: $font-size-lg
            align-items: center
            justify-content: center
            display: none

        &.disconnected
            > .disconnected-message
                display: flex

        &.connected
            pointer-events: auto
            > .disconnected-message
                display: none


        > .tabs
            flex: 1 0 auto
            //flex: .85 0 auto
            display: flex
            flex-direction: column

            > .buttons
                height: pixel-to-vw(120px)
                display: flex

                > .button
                    width: 50%
                    display: flex
                    align-items: center
                    justify-content: center
                    text-align: center
                    cursor: pointer
                    border-bottom: pixel-to-vw(4px) solid #242423
                    transition: border-bottom 200ms ease-out

                    &.active
                        border-bottom: pixel-to-vw(4px) solid rgb(251, 188, 21)

            > .content
                position: relative
                flex: 1 0 auto
                background-color: #333533

                > .list
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    opacity: 0
                    overflow-x: hidden
                    overflow-y: auto
                    pointer-events: none
                    transition: opacity 200ms ease-out

                    &.visible
                        opacity: 1
                        pointer-events: auto

                    > .list-item
                        display: flex
                        align-items: center
                        padding: 0 pixel-to-vw(30px)
                        height: pixel-to-vw(120px)
                        background-color: transparent
                        border-bottom: pixel-to-vw(2px) solid #242423
                        //font-size: $font-size-sm
                        cursor: pointer
                        transition: background-color 200ms ease-out

                        &.selected
                            background-color: lighten(#333533, 10)

        > .controls
            position: relative
            margin-top: pixel-to-vw(60px)
            //flex: .15 0 auto
            padding: pixel-to-vw(60px) 0

            > .pane
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                opacity: 0
                pointer-events: none
                transition: opacity 200ms ease-out

                > .row
                    display: inline-flex

                    > .control-button
                        position: relative
                        margin: 0 pixel-to-vw(30px)
                        outline: none

                        > div, svg
                            height: pixel-to-vw(120px)
                            width: pixel-to-vw(120px)

                        svg
                            path
                                fill: rgb(251, 188, 21)
                //&.presentations
                &.movies
                    > .row
                        > .play-pause
                            height: pixel-to-vw(120px)
                            width: pixel-to-vw(120px)

                            > div
                                position: absolute
                                top: 0
                                left: 0
                                height: pixel-to-vw(120px)
                                width: pixel-to-vw(120px)
                                outline: none
                                opacity: 0
                                //pointer-events: none
                                transition: opacity 200ms ease-out

                                &.visible
                                    opacity: 1
                                    pointer-events: none

                &.visible
                    opacity: 0.5
                    pointer-events: none

                    &.enabled
                        opacity: 1
                        pointer-events: auto

                        > .row
                            > .control-button
                                cursor: pointer
