$font-path: '../fonts/';

$font-family: "Helvetica";
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-bold: 500;
$font-line-height-base: 1.35;

// $font-size-sm: 1.9vmax;
$font-size-md: 2.5vmax;
// $font-size-lg: 7.75vmax;

$color-white: #FFFFFF;
$color-black: #000000;