$font-path: '../fonts/'

//$font-family: "Helvetica"
$font-family: "Roboto"
$font-weight-light: 200
$font-weight-normal: 300
$font-weight-bold: 500
$font-line-height-base: 1.35

$font-size-sm: 2.5vw
$font-size-md: 3.5vw

$color-white: #FFFFFF
$color-black: #000000
