$font-path: '../../../public/fonts/'

//$font-family: "Helvetica"
$font-family: "AktivGrotesk"
$font-weight-light: 200
$font-weight-normal: normal
$font-weight-bold: 500
$font-line-height-base: 1.35

$font-size-sm: 2.5vw
$font-size-md: 3.5vw
$font-size-lg: 5vw

$color-white: #FFFFFF
$color-grey: rgb(58, 55, 53)
$color-grey-light: lighten($color-grey, 10)
$color-grey-dark: darken($color-grey, 5)
$color-yellow: rgb(251, 188, 21)
